# Common local secret/key locations
secrets/*.agekey
**/keys.txt

# Age keys (private keys should never be in version control)
.config/sops/age/keys.txt
*.age

# Backup files
*.backup

# Build results
result
result-*

# Nix build artifacts
.direnv/

#aider files
.aider*
